<div class="margen-error">
    <div class="error">
      <div class="texto-error">
          <img src="assets/img/color.svg"  alt="">
          <br><br><br>
          <span class="titulo1">
              <b>404</b> That’s an error.
          </span>
          <br><br>
          <p class="titulo2">
              The requested URL /job/testa-create-service/buildWithParameters was not found on this server.
          </p>
          <br>
          <span class="titulo3">
              That’s all we know.
          </span>
          
      </div>
      <div class="img-error">
        <div class="texto1">
          <span class="titulo">404</span><br>
          <span class="texto">page not found</span>
        </div>
      </div>
    </div>
</div>
