<app-header></app-header>
<div class="item-superior">
  <div class="item-name">
    <span class="icon-left-open" style="color:#b10053;cursor:pointer;"></span> Facturas
  </div>
</div>
<div class="item-inferior">
  <div class="item-izquierdo">
    <div class="margen">
      <div class="botones-superiores">
        <div class="boton-menu-activo">
            <a>{{ btn_gestion }}</a>
        </div>
        <div class="boton-menu">
            <a>{{ btn_online }}</a>
        </div>
        <div class="boton-menu">
            <a>{{ btn_ventas }}</a>
        </div>
        <div class="boton-menu">
            <a>{{ btn_mark }}</a>
        </div>
        <div class="boton-menu">
            <a>{{ btn_soport }}</a>
        </div>
      </div>
      
      <div class="list-invoice">
          <div class="title_invoice">FECHA DE EMISIÓN</div>
          <div class="title_invoice">NÚMERO DE FACTURA</div>
          <div class="title_invoice">FECHA DE VTO.</div>
          <div class="title_invoice">IMPORTE</div>
          <div class="title_invoice">DESCARGAR</div>
      </div>

        <div class="list-invoice_detail">
            <div class="title_invoice1_t"></div>
            <div class="title_invoice1_t">Fecha de emisión</div>
            <div class="title_invoice1">10/04/2018</div>
            <div class="title_invoice1_t">Número de factura</div>
            <div class="title_invoice1">6516-19225046</div>
            <div class="title_invoice1_t">Fecha de vencimiento</div>
            <div class="title_invoice1">26/04/2018</div>
            <div class="title_invoice1_t">Importe</div>
            <div class="title_invoice1">$547,50</div>
            <div class="title_invoice1_t">
                <a>Descargar</a>
            </div>
            <div class="title_invoice1 ">
                <a><img class="down-img" src="assets/img/ic-file-download.svg"></a>
            </div>
        </div>

        <div class="list-invoice_detail">
            <div class="title_invoice1_t"></div>
            <div class="title_invoice1_t">Fecha de emisión</div>
            <div class="title_invoice1">10/04/2018</div>
            <div class="title_invoice1_t">Número de factura</div>
            <div class="title_invoice1">6516-19225046</div>
            <div class="title_invoice1_t">Fecha de vencimiento</div>
            <div class="title_invoice1">26/04/2018</div>
            <div class="title_invoice1_t">Importe</div>
            <div class="title_invoice1">$547,50</div>
            <div class="title_invoice1_t">
                <a>Descargar</a>
            </div>
            <div class="title_invoice1 ">
                <a><img class="down-img" src="assets/img/ic-file-download.svg"></a>
            </div>
        </div>

        <div class="list-invoice_detail">
            <div class="title_invoice1_t"></div>
            <div class="title_invoice1_t">Fecha de emisión</div>
            <div class="title_invoice1">10/04/2018</div>
            <div class="title_invoice1_t">Número de factura</div>
            <div class="title_invoice1">6516-19225046</div>
            <div class="title_invoice1_t">Fecha de vencimiento</div>
            <div class="title_invoice1">26/04/2018</div>
            <div class="title_invoice1_t">Importe</div>
            <div class="title_invoice1">$547,50</div>
            <div class="title_invoice1_t">
                <a>Descargar</a>
            </div>
            <div class="title_invoice1 ">
                <a><img class="down-img" src="assets/img/ic-file-download.svg"></a>
            </div>
        </div>
      
    </div>
  </div>
</div>

<app-footer></app-footer>